# Flutter
build/
.dart_tool/
.pub/
.pub-cache/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE files
.vscode/
.idea/

# Environment files
*.env
*.key
*.keystore
